/*General*/
html{
    height: 100%;
}

body {
    position: relative;
    background-image: url(/img/pattern.svg);
}

/* Fix bg images on mobile*/
.parallax::after{
      content:"";
      position:fixed; /* stretch a fixed position to the whole screen */
      top:0;
      height:100vh; /* fix for mobile browser address bar appearing disappearing */
      left:0;
      right:0;
      z-index:-1; /* needed to keep in the background */
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

a{
    color: inherit;
    text-decoration: underline;
}

footer{
    font-size: x-small;
}

.textlist{
    padding-top: 0.5em;
    list-style: none;
    text-indent: -1.1em;
}

.textlist li{
    margin-bottom: 0.5em;
}

/*Cards*/
.card{
    border-radius: 0;
    border-width: 0;
    background-color: rgba(255, 255, 255, 0.9);
}

.card .col-sm h5{
    margin-bottom: -5px;
}

.card-container{
    max-width: 960px;
}

#intros{
    max-width: 960px;
    align-content: center;
}

/*Icons*/
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-size: inherit;
    font-weight: 500;
    font-style: normal;
    margin-left: 0;
}

.card-icon{
    float: right;
    font-size: 50px;
    margin-left: 20px;
}

.list-icon{
    font-size: 50px;
}

/*Parallax Images*/
.jumbotron{
    box-shadow: inset 0 -4px 8px rgba(0, 0, 0, 0.2)
}

.parallax {
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2), inset 0 -4px 8px rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}

#entry{
    height: 100vh;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background: url(/img/websize/shot-3.jpg);
    background-position: 11% 80%;
}

#img1{
    height: 85vh;
    background: url(/img/websize/shot-12.jpg);
    background-position: 50% 25%;
}

#img2{
    height: 85vh;
    background: url(/img/websize/shot-31.jpg);
    background-position: 61% 50%;
}

#img3{
    height: 85vh;
    background: url(/img/websize/shot-14.jpg);
    background-position: 10% 70%;
}

#img4{
    height: 85vh;
    background: url(/img/websize/shot-26.jpg);
    background-position: 53% 60%;
}

#img5{
    height: 95vh;
    background: url(/img/websize/shot-29.jpg);
    background-position: 50% 45%;
}



/*Navigation */
.anchor{
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}

.navbar{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 -4px 8px rgba(0, 0, 0, 0.2);
}

.nav-link{
    text-decoration: none;
}

.lang-link{
    /*just an identifier for jquery*/
}
