/*General*/
html{
    height: 100%;
}

body {
    position: relative;
    background-image: url(/img/pattern.svg);
    min-width: 300px;
    font-family: helvetica,"Helvetica Neue",Arial,sans-serif;
}


h1,h2,h3,h4,h5,nav{
    font-family: 'Merriweather',"Palatino Linotype","Book Antiqua",Palatino,serif;
}

.lead {
    font-family: helvetica,"Helvetica Neue",Arial,sans-serif;
}

a{
    color: inherit;
    text-decoration: underline;
}

footer{
    font-size: x-small;
}

footer span i .flaticon-049-love:before, footer span i .flaticon-049-love:after {
    font-weight: 800;
}

.textlist{
    padding-top: 0.5em;
    list-style: none;
    text-indent: -1.1em;
}

.textlist li{
    margin-bottom: 0.5em;
}


/*Cards*/
.card{
    border-radius: 0;
    border-width: 0;
    background-color: rgba(255, 255, 255, 0.9);
}

.card .col-sm h5{
    margin-bottom: -5px;
}

.card-container{
    max-width: 960px;
}

#intros{
    max-width: 960px;
    align-content: center;
}

.card .row .col-sm h5{
    font-family: inherit;
}

/*Icons*/
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-size: inherit;
    font-weight: 500;
    font-style: normal;
    margin-left: 0;
}

footer [class^="flaticon-"]:before, footer [class*=" flaticon-"]:before,
footer [class^="flaticon-"]:after, footer [class*=" flaticon-"]:after {   
    font-weight: 700;
}

.card-icon{
    float: right;
    font-size: 50px;
    margin-left: 20px;
}

.list-icon{
    font-size: 50px;
}

/*Parallax Images*/
.parallax {
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2), inset 0 -4px 8px rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}

#entry{
    height: 100vh;
    background: url(/img/websize/shot-3.jpg) fixed;
    background-position: 11% 80%;
}

#img1{
    height: 85vh;
    background: url(/img/websize/shot-12.jpg) fixed;
    background-position: 50% 25%;
}

#img2{
    height: 85vh;
    background: url(/img/websize/shot-31.jpg) fixed;
    background-position: 61% 50%;
}

#img3{
    height: 85vh;
    background: url(/img/websize/shot-14.jpg) fixed;
    background-position: 10% 70%;
}

#img4{
    height: 85vh;
    background: url(/img/websize/shot-26.jpg) fixed;
    background-position: 53% 60%;
}

#img5{
    height: 95vh;
    background: url(/img/websize/shot-29.jpg) fixed;
    background-position: 50% 45%;
}

/* Fix bg images on mobile*/
@media only screen and (max-width: 768px), 
       only screen and (pointer: coarse), 
       only screen and (hover: none) { 

    .parallax {  
        background-size: cover !important;
        overflow: hidden !important;
        background-attachment: scroll !important;
    }

/*    [id^="img*"] {
        background-size: cover !important;
        overflow: hidden !important;
        background-attachment: scroll !important;
    }
*/
/*    body {  
        height:100%;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }*/
}


/*Navigation */
.anchor{
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}

.navbar{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 -4px 8px rgba(0, 0, 0, 0.2);
}

.nav-link{
    text-decoration: none;
}

.lang-link{
    /*just an identifier for jquery*/
}
